.error-cnt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  .main {
    color: red;
    line-height: 30px;
    font-size: 50px;
    margin: 20px;
  }

  .back-home {
    color: black;
    cursor: pointer;
    text-decoration: underline;
    line-height: 24px;
    font-size: 24px;
  }
}
