.sidebar-cnt {
  background-color: #f2f5f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 16%;

  .main-text {
    color: #293845;
    font-size: 32px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 100px;
  }
  .secondary-text {
    color: #293845;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 10px;
  }

  .test-report {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 50px;

    .test-report-text {
      color: #a568d7;
      font-size: 16px;
      font-weight: 600;
      line-height: 20px;
      width: 100%;
    }
  }
}
